* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.add_good_thing_container {
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

.add-head {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.add-head h2 {
  font-size: 1.3em;

  color: #303C6C;
  padding: 2px;
}
.empty-space {
  width: 1.3em;
}

.close-modal {
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
  color: #F4976C;
}
.close-modal:hover {
  color: #B4DFE5
}

.good_thing_form {
  width: 50%;
  margin: 10% auto;
  padding: 15px;
  border: 2px solid #303C6C;
  border-radius: 10px;
  background: rgb(241, 235, 235);
  box-shadow: 10px 10px 3px rgba(70, 70, 70, 0.651);
}
label {
  display: inline-block;
  width: 15%;
  clear: both;
}
.add_thing {
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 20px;
}
.input {
  width: 85%;
  padding: 0.5em 0.5em;
}
.text_area {
  width: 85%;
  padding: 1em;
}
.send {
  padding: 9px 60px;
  font-size: .7em;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: #B4DFE5;
  border: 2px solid #303C6C;
  color: #303C6C;
  font-weight: bold;
  cursor: pointer;
}
.send:hover {
  background-color: #F4976C;
}

