.header {
  width: 90%;
}
.top_inner_header {
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 255, 0.651); */
}
.logo_intro_wrap {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.logo {
  width: 5em
}
.logo img{
  width: 100%
}
#lyrics {
  color: #F4976C;
  font-size: .6em;
  font-weight: bolder;
}
#intro {
  color: #303C6C;
  padding: 0 8px;
  font-size: 1.2em;
  font-weight: bolder;
}
.share {
  padding: 10px 20px;
  text-align: center;
  /* // color: rgba(245, 244, 244, 0.973); */
  color: #303C6C;
  border: 2px solid #303C6C;
  font-size: .9em;
  border-radius: 5px;
  font-weight: bold;
  background-color: #B4DFE5;
}
.share:hover {
  cursor: pointer;
  background-color: #D2FDFF;

}
.bottom_inner_header{
  padding: 8px 0;
  border-bottom: 15px solid #B4DFE5;
  font-size: 1.5em;
}
.form_wrap {
  width: fit-content;
}
form {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
#search_bar {
  width: 100%;
  padding: 4px 8px;
  font-size: .8em;
  border: .5px solid #3D3D3D;
  box-sizing: border-box;
  margin: 0 4px;
}
#search {
  padding: 2px 15px;
}
